/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 3rem auto;
    max-width: 1000px;
    background-color: #1f3b4f;
}


ul {
    border: 1px solid black;
    display: grid;
    list-style: none;
    max-width: 800px;
    margin: 3rem auto;
}


pre {
    display: inline-block;
}

:target {
    background-color: #ffa;
}

